.login-container {
    .header {
        height: 45px;
        text-align: right;

        button {
            background-color: white;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.8);
            margin: 20px;
            font-size: 15px;
        }
    }

    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        padding: 20px 0;
    }

    .welcome {
        text-align: center;
        font-size: 25px;
        font-weight: 200;
        padding: 20px 0;
    }

    .content-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .form-group {
            width: 50%;

            input {
                border: solid 1px rgba(0, 0, 0, 0.4);
                border-radius: 4px;
            }
        }

        .btn-login {
            width: 50%;
            
            button {
                background-color: black;
                color: white;
                border-radius: 4px;
                width: 100%;
                height: 40px;
               
                &:disabled{
                    background: #dddddd;
                    color: #afafaf ;
                    cursor: no-drop;
                }

                span{
                    padding-left: 10px;
                }
            }

            .loader-icon{
                font-size: 15px;
                color: orange;
                animation: spin 1s infinite linear;

                &:disabled{
                    color: black;
                }
            }
            
            @keyframes spin {
                from {
                    transform: scale(1) rotate(0deg);
                }
                to {
                    transform: scale(1) rotate(360deg);
                }
            }
        }

        .back {
            cursor: pointer;
        }
    }
}